
<div class="form-container">
    <h3 class="form-title">
        <i class="far fa-address-card"></i>
        &nbsp;Información del impuesto
    </h3>
    <div class="form" [formGroup]="newTax">
        <div class="form-group">
            <app-input class="formControl" [formGroup]="newTax" [control]="'tax_name'"
            [labelInfo]="{title:' Nombre del impuesto',required:true,type:'text'}"></app-input>

            <app-input class="formControl" [formGroup]="newTax" [control]="'tax_rate'"
            [labelInfo]="{title:'Porcentaje del impuesto (%)',required:false,type:'text'}" ></app-input>
           
        </div>
        
        <p>
            &nbsp;¿Mostrar impuesto en facturas y tickets?
        </p>
        <div class="form-group">
            <label class="ratio-buttons">
                <input formControlName="show_tax" type="radio" name="show_tax" value='Si' checked>
                &nbsp;<i class="far fa-check-circle fa-fw"></i>&nbsp;Si
            </label>

        </div>
        <div class="form-group">
            <label class="ratio-buttons">
                <input formControlName="show_tax" type="radio" name="show_tax" value='No'>
                &nbsp;<i class="far fa-times-circle fa-fw"></i>&nbsp;No
            </label>

        </div>
        <div class="form-actions">
            <ng-container *ngIf="!taxToUpdate">
                <button class="form-button" id="btn-success" 
                [ngClass]="{'btn-save':newTax.valid}" [disabled]="newTax.invalid"
                    (click)="showModalWarning('Los datos serán ingresados al sistema ¿desea continuar?',newTax.valid);this.type='create'">
                    <i class="far fa-save"></i>
                    &nbsp;&nbsp;ACEPTAR</button>
                <button class="form-button btn-clean" id="btn-clean" (click)="clean()">
                    <i class="fas fa-paint-roller"></i>
                    &nbsp;&nbsp;LIMPIAR</button>
            </ng-container>
            <ng-container *ngIf="taxToUpdate">
                <button title="{{validateUpdate().msj}}" class="form-button" 
                [ngClass]="{'btn-update':validateUpdate().isValid}" [disabled]="!validateUpdate().isValid"
                (click)="showModalWarning('Los datos serán ingresados al sistema ¿desea continuar?');this.type='update'">
                    <i class="fa fa-arrows-rotate"></i>
                    &nbsp;&nbsp;ACTUALIZAR</button>
            </ng-container>
        </div>
        <p class="form-info">Los campos marcados con <i class="fab fa-font-awesome-alt"></i>
            son obligatorios</p>
    </div>
</div>
        
