<div class="form-container">
    <h3 class="form-title">
        &nbsp;Buscar por fecha
    </h3> 
   <div class="form" [formGroup]="formSearchRepayment">
         <div class="form-group">
            <app-input class="formControl" [formGroup]="formSearchRepayment" [control]="'initialDate'"
            [labelInfo]="{title:'Fecha de inicio',required:true,type:'date'}"></app-input>

            <app-input class="formControl" [formGroup]="formSearchRepayment" [control]="'endDate'"
            [labelInfo]="{title:'Fecha de fin',required:true,type:'date'}"></app-input>
       </div>
        <div class="form-actions">
            <button class="form-button"  title="{{checkDates().msj}}" [disabled]="!checkDates().isValid"
            (click)="redirectToDevolucionesRealizadas()" [ngClass]="{'btn-save':checkDates().isValid}">
                <i class="fa fa-search"></i>
                &nbsp;&nbsp;BUSCAR</button>
        </div>
        <div class="line"></div>
        <h3 class="form-title">
            &nbsp;Buscar por ticket, tipo o vendedor
        </h3>
        <div class="form-group">
            <app-input class="formControl" [formGroup]="formSearchRepayment" [control]="'campSearch'"
            [labelInfo]="{title:'Críterio a buscar',required:true,type:'text'}"></app-input>
        </div>
        <div class="form-actions">
            <button class="form-button" (click)="redirectToDevolucionesRealizadasByCriterio()"
            [ngClass]="{'btn-save':formSearchRepayment.get('campSearch')?.valid}">
                <i class="fa fa-search"></i>
                &nbsp;&nbsp;BUSCAR</button>
        </div>
    </div> 
</div>

