<div class="form-container">
    <h3 class="form-title">
        <i class="far fa-address-card"></i>
        &nbsp;Información de la caja
    </h3>
    <div class="form" [formGroup]="newRegister">
        <div class="form-group">
            <app-input class="formControl" [formGroup]="newRegister" [control]="'name_register'"
                [labelInfo]="{title:'Nombre de la caja',required:true,type:'text'}"></app-input>

            <app-select class="formControl" [formGroup]="newRegister" [control]="'state_register'"
                [selectInfo]="selectInfo" [selectOptions]="selectOptions"></app-select>

        </div>
        <div class="form-actions">
            <ng-container *ngIf="!registerToUpdate">
                <div>
                    <button class="form-button" [disabled]="newRegister.invalid"
                        [ngClass]="{'btn-save':newRegister.valid}" (click)="showModalWarning('Los datos serán ingresados al sistema 
                            ¿desea continuar?');this.type='create'">
                        <i class="far fa-save"></i> &nbsp;&nbsp;ACEPTAR
                    </button>
                    <button class="form-button btn-clean" (click)="clearFormFields()">
                        <i class="fas fa-paint-roller"></i> &nbsp;&nbsp;LIMPIAR
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="registerToUpdate">
                <div>
                    <button title="{{validateUpdate().message}}" class="form-button"
                        [disabled]="!validateUpdate().isValid" [ngClass]="{'btn-update':validateUpdate().isValid}"
                        (click)="showModalWarning('Los datos serán ingresados al sistema 
                        ¿desea continuar?');this.type='update'">
                        <i class="fa fa-arrows-rotate"></i>&nbsp;&nbsp;ACTUALIZAR</button>
                </div>
            </ng-container>
        </div>
        <p class="form-info">Los campos marcados con <i class="fab fa-font-awesome-alt"></i>
            son obligatorios</p>
    </div>
</div>